---
layout: default
---

<ul>
{% for page in site.pages %}
    <li>{{ page.path }}</li>
{% endfor %}
</ul>

{% for file in site.static_files %}
    {{ file.path }}<br>
{% endfor %}

<ul class="carts">
{% for post in paginator.posts %}
<li class="cart">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/examples/{{ post.base }}/cart.png" />
    </a>
    <div class="meta">
        {{ post.desc }}
    </div>
    <!-- TODO multi language links -->
</li>
{% endfor %}
</ul>

{% assign example_paths = site.static_files | where: "example", true | map: "path" %}
{% assign examples = '' | split: '' %}
{% for path in example_paths %}
    {% assign example = path | split: '/' | slice: 2 %}
    {% assign examples = examples | concat: example %}
{% endfor %}
