---
layout: default
title: TIC-80 Examples
---

<div class="carts">
{% for post in paginator.posts %}
<div class="card cart bg-dark">
  <a href="{{ site.baseurl }}{{ post.url }}">
    <img src="{{ site.baseurl }}/examples/{{ post.base }}/cart.png" class="card-img-top" />
  </a>
  <div class="card-body">
    <p class="card-text">{{ post.desc }}</p>
    <p class="card-text"><small class="text-muted">🏷️
      {% for tag in post.tags %}
      <span class="badge badge-secondary">{{ tag }}</span>
      {% endfor %}
    </small></p>
  </div>
  <!-- TODO multi language links -->
</div>
{% endfor %}
</div>
