---
layout: default
title: Home
---

<div class="carts">
{% for post in paginator.posts %}
<div class="card cart">
  <a href="{{ site.baseurl }}{{ post.url }}">
    <img src="{{ site.baseurl }}/examples/{{ post.base }}/cart.png" class="card-img-top" />
  </a>
  <div class="card-body">
    <p class="card-text meta">{{ post.desc }}</p>
  </div>
  <!-- TODO multi language links -->
</div>
{% endfor %}
</div>

<script>
console.log("Pages:")
{% for page in site.pages -%}
console.log("- {{ page.path }}")
{% endfor %}

console.log("Files:")
{% for file in site.static_files -%}
console.log("- {{ file.path }}")
{% endfor %}
</script>
