---
---
.cart {
  float: left;
  width: 256px;
}
.code {
  background-attachment: local;
  background-image: url('{{ site.baseurl }}/assets/img/paper.png');
  background-position-y: 15px;
  border-image-repeat: repeat;
  border-image-source: url('{{ site.baseurl }}/assets/img/paper_hole.png');
  border-image-slice: 0 36;
  border-radius: 0;
  border-style: solid;
  border-width: 0 36px;
  font-size: 16px;
  tab-size: 4;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
