---
---
body {
  font-family: 'Amiga Forever Pro2', sans-serif;
}
.cart {
  float: left;
  font-size: small;
  text-shadow: 0 2px black;
  width: 256px;
  height: 380px;
  margin: 5px;
}
.cart-frame {
  padding: 48px 0;
  background-image: url('{{ site.baseurl }}/assets/img/monitor.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 864px 528px;
  image-rendering: pixelated;
}
.code {
  background-attachment: local;
  background-image: url('{{ site.baseurl }}/assets/img/paper.png');
  background-position-y: 15px;
  border-image-repeat: repeat;
  border-image-source: url('{{ site.baseurl }}/assets/img/paper_hole.png');
  border-image-slice: 0 36;
  border-radius: 0;
  border-style: solid;
  border-width: 0 36px;
  font-size: 16px;
  tab-size: 4;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.cart > .card-body {
  padding: 10px;
}
.cart > .card-footer {
  padding: 5px 10px;
}

.hljs-ln-numbers {
  color: lightgrey;
}
